---
import BaseLayout from '../layouts/Base.astro';

const pageTitle = 'Contact'
---

<BaseLayout title= { pageTitle }>
    <div class="main-container">
        <h1> Contact </h1>
    </div> 
</BaseLayout>
<style>
  .main-container {
    width: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
</style>