---
import BaseLayout from '../layouts/Base.astro';
import '../styles/menu.css';

const pageTitle = 'Menu'
---

<BaseLayout title= { pageTitle }>
<div class='header'>Today's Menu <span class='timestamp'>(Last Updated at 22:40 on 23-12-2024)</span></div>
<div class='menu-cont'>
<div class='time'>
	<span class='type'> Breakfast: </span>
		<div class='items'>
			<span class='item'>1.Boiled egg(N) 1pc.</span>
			<span class='item'>2.Flavoured Milk</span>
			<span class='item'>3.Bread butter</span>
			<span class='item'>4.Milk cornflakes</span>
			<span class='item'>5.Bread 1pc.</span>
			<span class='item'>6.Small packing</span>
			<span class='item'>7.Medium packing</span>
			<span class='item'>8.Large Packing</span>
			<span class='item'>9.Bread + jam</span>
			<span class='item'>10.Chola Moong</span>
			<span class='item'>11.Bread Omelet (N)</span>
			<span class='item'>12.Amul Butter</span>
			<span class='item'>13.Britannia 50-50</span>
			<span class='item'>14.Britannia Cake</span>
			<span class='item'>15.Banana (1 pc.)</span>
			<span class='item special'>16.Peas Kachori (3 pic.)+ Aloo Dum</span>
			<span class='item special'>17.Apple (1pic.)</span>
			<span class='item'>18.Upma + Chatni</span>
			<span class='item'>19.Cotton Carry Bag (1pic.)</span>
			<span class='item'>20.Milk (B)</span>
			<span class='item'>21.Tea (B)</span>
			<span class='item'>22.Coffee (B)</span>
			<span class='item'>23.Paper Plate</span>
			<span class='item'>24.Fruit Jam 1 pic.</span>
			<span class='item'>25.Good Day Biscuites (1pkt.)</span>
			<span class='item'>26.1 pc. Peas Kachori + Aloo Dum</span>
			<span class='item'>27.Milk Haldi</span>
			<span class='item'>28.Paper Cup (200ml)</span>
			<span class='item'>29.Tea (without sugar)</span>
			<span class='item'>30.Aluminium warp Packing</span>
			<span class='item'>31.Bournvita</span>
		</div>
</div>
<div class='time'>
	<span class='type'> Lunch: </span>
		<div class='items'>
			<span class='item'>1.Egg Curry(N) (L)</span>
			<span class='item'>2.Aloo chokha(Mashed Patatoes)</span>
			<span class='item'>3.Small packing</span>
			<span class='item'>4.Medium packing</span>
			<span class='item'>5.Large Packing</span>
			<span class='item'>6.Ghee (per spoon) L</span>
			<span class='item'>7.Moong Masoor daal</span>
			<span class='item'>8.Banana (1 pc.)</span>
			<span class='item special'>9.Apple (1pic.)</span>
			<span class='item'>10.Cotton Carry Bag (1pic.)</span>
			<span class='item'>11.Roti (L)1pc.</span>
			<span class='item'>12.Dahi (Yogurt) (L)</span>
			<span class='item'>13.Rice (L)</span>
			<span class='item'>14.Half Rice (L)</span>
			<span class='item'>15.Paper Plate</span>
			<span class='item special'>16.Kheer Kadam (sweet)</span>
			<span class='item'>17.Aluminium warp Packing</span>
		</div>
</div>
<div class='time'>
	<span class='type'> Snacks: </span>
		<div class='items'>
			<span class='item'>1.Flavoured Milk</span>
			<span class='item'>2.Bread butter</span>
			<span class='item special'>3.Veg Chowmien</span>
			<span class='item'>4.Bread 1pc.</span>
			<span class='item'>5.Chicken chowmien (N)</span>
			<span class='item'>6.Small packing</span>
			<span class='item'>7.Medium packing</span>
			<span class='item'>8.Large Packing</span>
			<span class='item'>9.Bread + jam</span>
			<span class='item'>10.Amul Butter</span>
			<span class='item'>11.Britannia 50-50</span>
			<span class='item special'>12.Apple (1pic.)</span>
			<span class='item'>13.Cotton Carry Bag (1pic.)</span>
			<span class='item'>14.Tea (S)</span>
			<span class='item'>15.Coffee (S)</span>
			<span class='item'>16.Paper Plate</span>
			<span class='item'>17.Fruit Jam 1 pic.</span>
			<span class='item'>18.Good Day Biscuites (1pkt.)</span>
			<span class='item'>19.Milk Haldi</span>
			<span class='item'>20.Paper Cup (200ml)</span>
			<span class='item'>21.Milk (Snacks)</span>
			<span class='item'>22.Tea (without sugar)</span>
			<span class='item'>23.Bread Omelet (S)</span>
			<span class='item'>24.Aluminium warp Packing</span>
			<span class='item'>25.Bournvita</span>
			<span class='item'>26.Veg Hara Bhara Kabab +Chatney(2pcs)</span>
		</div>
</div>
<div class='time'>
	<span class='type'> Dinner: </span>
		<div class='items'>
			<span class='item'>1.Flavoured Milk</span>
			<span class='item special'>2.Veg Chowmien</span>
			<span class='item'>3.Kasmiri Aloodum</span>
			<span class='item'>4.Chicken chowmien (N)</span>
			<span class='item'>5.Milk (D)</span>
			<span class='item'>6.Dahi (Yogurt) (D)</span>
			<span class='item'>7.Papad (D)</span>
			<span class='item'>8.Rice (D)</span>
			<span class='item'>9.Half Rice (D)</span>
			<span class='item'>10.Paper Plate</span>
			<span class='item'>11.potato parwal sabji</span>
			<span class='item special'>12.Kheer Kadam (sweet)</span>
			<span class='item'>13.Milk Haldi</span>
			<span class='item'>14.Paper Cup (200ml)</span>
			<span class='item'>15.Ghee (per spoon) D</span>
			<span class='item special'>16.Hing Dal</span>
			<span class='item special'>17.Chicken dak Bunglow</span>
		</div>
</div>
</div>
</BaseLayout>