---
import BaseLayout from '../layouts/Base.astro';
import '../styles/menu.css';

const pageTitle = 'Menu'
---

<BaseLayout title= { pageTitle }>
<div class='header'>Today's Menu <span class='timestamp'>(Last Updated at 17:20 on 23-12-2024)</span></div>
<div class='menu-cont'>
<div class='time'>
	<span class='type'> Breakfast: </span>
		<div class='items'>
			<span class='item'>1.Boiled egg(N) 1pc.</span>
			<span class='item'>2.Flavoured Milk</span>
			<span class='item'>3.Bread butter</span>
			<span class='item'>4.Milk cornflakes</span>
			<span class='item'>5.Bread 1pc.</span>
			<span class='item'>6.Small packing</span>
			<span class='item'>7.Medium packing</span>
			<span class='item'>8.Large Packing</span>
			<span class='item'>9.Bread + jam</span>
			<span class='item'>10.Chola Moong</span>
			<span class='item'>11.Bread Omelet (N)</span>
			<span class='item'>12.Amul Butter</span>
			<span class='item'>13.Britannia 50-50</span>
			<span class='item'>14.Britannia Cake</span>
			<span class='item'>15.Banana (1 pc.)</span>
			<span class='item special'>16.Peas Kachori (3 pic.)+ Aloo Dum</span>
			<span class='item special'>17.Apple (1pic.)</span>
			<span class='item'>18.Upma + Chatni</span>
			<span class='item'>19.Cotton Carry Bag (1pic.)</span>
			<span class='item'>20.Milk (B)</span>
			<span class='item'>21.Tea (B)</span>
			<span class='item'>22.Coffee (B)</span>
			<span class='item'>23.Paper Plate</span>
			<span class='item'>24.Fruit Jam 1 pic.</span>
			<span class='item'>25.Good Day Biscuites (1pkt.)</span>
			<span class='item'>26.1 pc. Peas Kachori + Aloo Dum</span>
			<span class='item'>27.Milk Haldi</span>
			<span class='item'>28.Paper Cup (200ml)</span>
			<span class='item'>29.Tea (without sugar)</span>
			<span class='item'>30.Aluminium warp Packing</span>
			<span class='item'>31.Bournvita</span>
		</div>
</div>
<div class='time'>
	<span class='type'> Lunch: </span>
		<div class='items'>
			<span class='item'>1.Egg Curry(N) (L)</span>
			<span class='item'>2.Aloo chokha(Mashed Patatoes)</span>
			<span class='item'>3.Small packing</span>
			<span class='item'>4.Medium packing</span>
			<span class='item'>5.Large Packing</span>
			<span class='item'>6.Ghee (per spoon) L</span>
			<span class='item'>7.Moong Masoor daal</span>
			<span class='item'>8.Banana (1 pc.)</span>
			<span class='item special'>9.Apple (1pic.)</span>
			<span class='item'>10.Cotton Carry Bag (1pic.)</span>
			<span class='item'>11.Roti (L)1pc.</span>
			<span class='item'>12.Dahi (Yogurt) (L)</span>
			<span class='item'>13.Rice (L)</span>
			<span class='item'>14.Half Rice (L)</span>
			<span class='item'>15.Paper Plate</span>
			<span class='item special'>16.Kheer Kadam (sweet)</span>
			<span class='item'>17.Aluminium warp Packing</span>
		</div>
</div>
<div class='time'>
	<span class='type'> Snacks: </span>
		<div class='items'>
			<span class='item'>1.Flavoured Milk</span>
			<span class='item'>2.Bread butter</span>
			<span class='item special'>3.Veg Chowmien</span>
			<span class='item'>4.Samosa + Sauce 1pic.</span>
			<span class='item'>5.Bread 1pc.</span>
			<span class='item'>6.Chicken chowmien (N)</span>
			<span class='item'>7.Small packing</span>
			<span class='item'>8.Medium packing</span>
			<span class='item'>9.Large Packing</span>
			<span class='item'>10.Bread + jam</span>
			<span class='item'>11.Amul Butter</span>
			<span class='item'>12.Britannia 50-50</span>
			<span class='item special'>13.Apple (1pic.)</span>
			<span class='item'>14.Cotton Carry Bag (1pic.)</span>
			<span class='item'>15.Tea (S)</span>
			<span class='item'>16.Coffee (S)</span>
			<span class='item'>17.Omelet (S)</span>
			<span class='item'>18.Paper Plate</span>
			<span class='item'>19.Fruit Jam 1 pic.</span>
			<span class='item'>20.Good Day Biscuites (1pkt.)</span>
			<span class='item'>21.Milk Haldi</span>
			<span class='item'>22.Paper Cup (200ml)</span>
			<span class='item'>23.Milk (Snacks)</span>
			<span class='item'>24.Tea (without sugar)</span>
			<span class='item'>25.Bread Omelet (S)</span>
			<span class='item'>26.Aluminium warp Packing</span>
			<span class='item'>27.Bournvita</span>
		</div>
</div>
<div class='time'>
	<span class='type'> Dinner: </span>
		<div class='items'>
			<span class='item'>1.Flavoured Milk</span>
			<span class='item'>2.Begun(brinjal) pakora fry</span>
			<span class='item special'>3.Chicken Kosha(N)</span>
			<span class='item'>4.Small packing</span>
			<span class='item'>5.Medium packing</span>
			<span class='item'>6.Large Packing</span>
			<span class='item special'>7.Khichdi</span>
			<span class='item'>8.Cotton Carry Bag (1pic.)</span>
			<span class='item'>9.Roti (D)1pc.</span>
			<span class='item'>10.Milk (D)</span>
			<span class='item'>11.Papad (D)</span>
			<span class='item'>12.Rice (D)</span>
			<span class='item'>13.Half Rice (D)</span>
			<span class='item'>14.Salad (D)</span>
			<span class='item'>15.Egg curry (N)(D)</span>
			<span class='item'>16.Paper Plate</span>
			<span class='item'>17.potato parwal sabji</span>
			<span class='item'>18.Milk Haldi</span>
			<span class='item'>19.Lemon(1pc)</span>
			<span class='item'>20.Ghee (per spoon) D</span>
			<span class='item special'>21.Hing Dal</span>
			<span class='item'>22.Aluminium warp Packing</span>
		</div>
</div>
</div>
</BaseLayout>